* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-container {
    position: relative;
}
.back {
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 290px;
    height: 210px;
    top: 30px;
    right: -170px;
}
.front {
    background-image: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 290px;
    height: 210px;
    top: 122px;
    right: -115px;
    z-index: 3;
}
#cvc-card {
    margin-top: 72px;
    margin-left: 230px;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 1.28571px;
    color: #ffffff;
}
.front img {
    width: 60px;
    margin: 20px;
}
#card-number {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2.2px;
    margin-left: 20px;
}
.name-month-year {
    display: flex;
    justify-content: space-between;
    margin: 20px 28px 20px 20px;
}
#card-name {
    color: #ffffff;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
}
.time {
    display: flex;
}
.sideline {
    margin-top: -2px;
    font-size: 11px;
    color: white;
}
#month, #year {
    color: #ffffff;
    font-size: 9px;
    font-weight: 500;
}
.second-container {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}
.wrong-number, .wrong-month, .wrong-year, 
.wrong-cvc, .wrong-card-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FF5050;
    text-transform: lowercase;
    margin-top: 5px;
}
.wrong-card-name {
    display: none;
}
.wrong-number {
    display: none;
}
.wrong-month  {
    display: none;
}
.wrong-year {
    display: none;
}
.wrong-cvc {
    display: none;
}
.label-card-number {
    margin-top: 30px;
}
.spans {
    display: flex;
    gap: 15px;
}
label {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    color: #21092F;
    margin-bottom: 10px;
    margin-top: 20px;
}
input:focus {
    outline: none;
}
input {
    outline: none;
    border: 1px solid #DFDEE0;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #21092F;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding: 10px;
    width: 340px;
}
#card-name-input, #card-number-input {
    padding-left: 20px;
}
.two-inputs {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.two {
    display: flex;
    flex-direction: column;
}
.one-input {
    display: flex;
    flex-direction: column;
}
#month-input, #year-input {
    width: 90px;
}
#cvc {
    width: 150px;
}
#btn, #btn-continue {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #21092F;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    height: 53px;
    cursor: pointer;
    margin-top: 20px;
}
.btn {
    width: 340px;
    cursor: pointer;
}
.thank {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 320px;
    margin-bottom: 40px;
    text-align: center;
}
.thank h1 {
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 2px;
    color: #21092F;
    margin: 30px 0;
}
.thank p {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #21092F;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 40px 0;
}

@media screen and (min-width:1200px){
    body {
        background-image: url(./images/bg-main-desktop.png);
        background-position: unset;
        flex-direction: row;
        justify-content: space-around;
        gap: 200px;
    }
    .back {
        width: 400px;
        height: 220px;
        top: 100px;
        right: -480px;
    }
    .front {
        width: 400px;
        height: 220px;
        top: -156px;
        right: -378px;
        z-index: 3;
    }
    #cvc-card {
        margin-top: 103px;
        margin-left: 310px;
        font-size: 18px;
    }
    #cvc {
        top: 30px;
        left: 80px;
        font-size: 14px;
    }
    .front img {
        width: 80px;
        margin: 25px;
        margin-bottom: 40px;
    }
    #card-number {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .name-month-year {
        display: flex;
        justify-content: space-between;
        margin: 20px 28px 20px 20px;
    }
    #card-name {
        font-size: 13px;
        line-height: 14px;
    }
    .sideline {
        margin-top: -2px;
        font-size: 15px;
        color: white;
    }
    #month, #year {
        font-size: 14px;
    }
    .second-container {
        margin-top: 190px;
        display: flex;
    }
    .thank {
        display: none;
        flex-direction: column;
        margin-top: 190px;
        text-align: center;
        margin-left: 50px;
    }
    .thank h1 {
        margin: 60px 0;
    }
    .thank p {
        margin: 40px 0;
    }
}
@media screen and (min-width: 1770px){
    body {
        max-width: 1880px;
        margin: 0 auto;
    }
}